<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/styleeng.css?v=2.2">
    <link rel="icon" href="/images/webp/mei_logo_web.webp" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
    <title>Mei Pulseras</title>
</head>
<body>
    <div class="nav" id="nav">
        <ul class="navbar" id="navbar">
            <li class="links"><a class="lang link" key="HOME" href="/english">Home</a></li>
            <li class="links"><a class="lang link" key="COTIZ" href="/pricing">Pricing</a></li>
            <li class="links2"><a class="translate link" id="english">English</a></li>
            <li class="links2"><a class="pipe link">|</a></li>
            <li class="links2"><a class="translate link" id="español" href="/">Español</a></li>
        </ul>
            <a href="javascript:void(0);" class="icon" onclick="navbar()">
                <i class="fa fa-bars"></i>
            </a>
    </div>
   
    <div class="logo">
        <img class="logomei" src="/images/webp/logo.webp" alt="logo">
    </div>
    <br>
    <div class="welcome">
        <h1 class="lang" key="BIEN">Hello!</h1>
    </div>
<!--     <br>-->    
    <div class="intro texto">
        <h4 class="lang" key="INTRO">My name is Marcela. I’m a Graphic designer and crafts enthusiast. I’m proud to introduce you to my business which was born in 2022 with the aim of creating colourful and timeless bracelets to complement with your everyday outfit. All our bracelets are handmade with carefully selected materials such as: natural stones, crystals, glass, steel and silver. Each piece is unique and made with love. If you’re interested in my work, don’t hesitate to contact me.</h4>  
    </div>
    <div class="relleno"></div>
    <div class="texto">
        <a class="lang cotiza pe" key="COTIZ" href="/pricing">PRICING</a>
    </div>
    <div class="relleno"></div>
    <div class="divcenter">
        <div class="grid-container">
            <div class="grid-item"><img class="foto" src="/images/webp/image01.webp" alt="Pulseras1" title="01. Pulsera macramé roja."></div>
            <div class="grid-item"><img class="foto" src="/images/webp/image02.webp" alt="Pulseras2" title="02. Feria septiembre 2023."></div>
            <div class="grid-item"><img class="foto" src="/images/webp/image03.webp" alt="Pulseras3" title="03. Pulseras para compartir."></div>
            <div class="grid-item"><img class="foto" src="/images/webp/image04.webp" alt="Pulseras4" title="04. Amuleto Protector."></div>
            <div class="grid-item"><img class="foto" src="/images/webp/image05.webp" alt="Pulseras5" title="05. Pulsera amazonita 6mm."></div>
            <div class="grid-item"><img class="foto" src="/images/webp/image06.webp" alt="Pulseras6" title="06. Pulseras cuarzo cristal."></div>
            <div class="grid-item"><img class="foto" src="/images/webp/image07.webp" alt="Pulseras7" title="07. Pulsera Amatista 8mm."></div>
            <div class="grid-item"><img class="foto" src="/images/webp/image08.webp" alt="Pulseras8" title="08. Pulseras cuarzo cristal."></div>
            <div class="grid-item"><img class="foto" src="/images/webp/image09.webp" alt="Pulseras9" title="09. Pulseras macramé."></div>
            <div class="grid-item"><img class="foto" src="/images/webp/image10.webp" alt="Pulseras10" title="10. Pulsera ágatas 3mm."></div>
            <div class="grid-item"><img class="foto" src="/images/webp/image11.webp" alt="Pulseras11" title="11. Pulseras para compartir."></div>
            <div class="grid-item"><img class="foto" src="/images/webp/image12.webp" alt="Pulseras12" title="12. Pulseras macramé morado."></div>
          </div>
    </div>
    <div class="relleno"></div>
    <div class="texto">
        <div class="centro">
        <div class="follow">
            <p class="lang sigue" id="seguir" key="SIGUE">FOLLOW US</p>
        </div>
        <div class="instalogo">
            <a class="logosredes" href="https://www.instagram.com/meipulseras"> 
                <img class="wsplogo" src="/images/webp/instagram.webp" alt="ins_logo">
            </a>
        </div> 
    </div>
    </div>
    <div class="relleno"></div>
    <footer class="foot">
        <p>Mei Pulseras 2025 &#8729; Santo Domingo, Chile.</p>
    </footer>
   <!--  <div class="wsp">
        <a href="https://wa.me/56952170243" target="_blank">
            <img class="wsplogo" src="/images/webp/wsp.webp" alt="wsp_logo">
        </a>
    </div> -->
    <div class="modal" id="modalfotos">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01">
    </div>
<!--     <script src="/js/language.js" type="text/javascript"></script>
 -->    <script src="/js/modal.js" type="text/javascript"></script>
    <script src="/js/navbar.js" type="text/javascript"></script>
</body>

</html>