<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/swal.css?v=1.1">
        <link rel="icon" href="/images/mei_logo_web.png" type="image/x-icon"/>
        <title>OK</title>
    </head>
    <body>    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script>
            Swal.fire({
                title: 'Cotización no enviada',
                text: 'Su cotización no se pudo enviar. Intente nuevamente.',
                icon: 'error',
                confirmButtonText: 'Aceptar',
                showConfirmButton: true,
            }).then(function() {
                window.location = "/cotizacion";
            });
        </script>
    </body>

</html>

