<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/form.css?v=1.6">
    <link rel="icon" href="/images/webp/mei_logo_web.webp" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
    <title>Cotizaci&oacute;n</title>
</head>

<body>
    <div class="nav" id="nav">
        <ul class="navbar" id="navbar">
            <li class="links"><a class="lang link" key="HOME" href="/"></a></li>
            <li class="links"><a class="lang link" key="COTIZ" href="/cotizacion"></a></li>
            <li class="links2"><a class="translate link" id="english">English</a></li>
            <li class="links2"><a class="pipe link">|</a></li>
            <li class="links2"><a class="translate link" id="español">Español</a></li>
        </ul>
        <a href="javascript:void(0);" class="icon" onclick="navbar()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
    <div class="relleno2"></div>
    <div class="formu">
        <form action="/cotizacion" method="post">
            <div class="inputforms">
                <div class="lblinput">
                    <div class="inputlbl">
                        <label class="lang lblform" key="F1" for="name"></label>
                        <input class="forminput" type="text" id="name" name="name" required><br />
                    </div>
                    <br />
                    <div class="inputlbl">
                        <label class="lang lblform" key="F2" for="rut"></label>
                        <input class="forminput" type="text" id="rut" name="rut" required><br />
                    </div>
                    <br />
                    <div class="inputlbl">
                        <label class="lang lblform" key="F3" for="direccion"></label>
                        <input class="forminput" type="text" id="address" name="address" required><br />
                    </div>
                    <br />
                    <div class="inputlbl">
                        <label class="lang lblform" key="F4" for="direccion"></label>
                        <input class="forminput" type="text" id="commune" name="commune" required><br />
                    </div>
                    <br />
                    <div class="inputlbl">
                        <label class="lang lblform" key="F5" for="tel"></label>
                        <input class="forminput" type="tel" id="phone" name="phone" required><br />
                    </div>
                    <br />
                    <div class="inputlbl">
                        <label class="lang lblform" key="F6" for="mail"></label>
                        <input class="forminput" type="email" id="mail" name="mail" required>
                    </div>

                </div>
            </div>
            <br />
            <br />
            <br />
            <label class="lang lblform" key="F7"></label>

            <div class="relleno2"></div>
            <div class="fotosproductos">
                <div class="products">
                    <img class="fotoform" src="/images/webp/image01.webp" alt="Pulseras1">
                    <div class="checkboxes">
                        <input type="checkbox" id="foto1" name="product" value="01. Pulsera amazonita 6mm.">
                    </div>
                </div>
                <div class="products">
                    <img class="fotoform" src="/images/webp/image02.webp" alt="Pulseras2">
                    <div class="checkboxes">
                        <input type="checkbox" id="foto2" name="product" value="02. Pulseras cuarzo y cristal.">
                    </div>
                </div>
                <div class="products">
                    <img class="fotoform" src="/images/webp/image03.webp" alt="Pulseras3">
                    <div class="checkboxes">
                        <input type="checkbox" id="foto2" name="product" value="03. Pulsera amatista 8mm.">
                    </div>
                </div>
                <div class="products">
                    <img class="fotoform" src="/images/webp/image04.webp" alt="Pulseras4">
                    <div class="checkboxes">
                        <input type="checkbox" id="foto2" name="product" value="04. Pulseras cuarzo cristal.">
                    </div>
                </div>
            </div>
            <div class="fotosproductos">
                <div class="products">
                    <img class="fotoform" src="/images/webp/image05.webp" alt="Pulseras5">
                    <div class="checkboxes">
                        <input type="checkbox" id="foto2" name="product" value="05. Pulseras macramé.">
                    </div>
                </div>
                <div class="products">
                    <img class="fotoform" src="/images/webp/image06.webp" alt="Pulseras6">
                    <div class="checkboxes">
                        <input type="checkbox" id="foto2" name="product" value="06. Pulsera ágata 3mm.">
                    </div>
                </div>
                <div class="products">
                    <img class="fotoform" src="/images/webp/image07.webp" alt="Pulseras7">
                    <div class="checkboxes">
                        <input type="checkbox" id="foto2" name="product" value="07. Pulseras para compartir.">
                    </div>
                </div>
                <div class="products">
                    <img class="fotoform" src="/images/webp/image08.webp" alt="Pulseras8">
                    <div class="checkboxes">
                        <input type="checkbox" id="foto2" name="product" value="08. Pulseras macramé.">
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="reference">
                <p class="lang lblform" key="F8"></p>
            </div>
            <div class="relleno2"></div>

            <textarea class="commentbox lang" id="comment" name="comment" key="F9"></textarea><br /><br />
            <input class="cotizar pe lang" type="submit" value="Cotizar" id="aceptar" key="F10">
        </form>
    </div>
    <div class="wsp">
        <a href="https://wa.me/56952170243" target="_blank">
            <img class="wsplogo" src="/images/webp/wsp.webp" alt="wsp_logo">
        </a>
    </div>
    <script src="/js/language.js" type="text/javascript"></script>
    <script src="/js/navbar.js" type="text/javascript"></script>
</body>

</html>