<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/style.css">
        <link rel="icon" href="/images/mei_logo_web.png" type="image/x-icon"/>
        <title>Mei Pulseras</title> 
    </head>
    <body>
        <div class="texto">
            <p>¡Hola! Mi nombre es Marcela Buljevic, Diseñadora Gráfica y fanática de las manualidades.</p>

            <p>Mei Pulseras nace en agosto de 2022 y llevo 20 años en el rubro de la bisutería hecha a mano.</p> 
                
            <p>Actualmente participo en ferias de la comuna de Santo Domingo, V Región.</p>  
                
            <p>Trabajo con materiales cuidadosamente seleccionados como piedras naturales, cristales, vidrio, acero y plata.</p> 
                
            <p>Cada pieza es única y esta hecha con mucho cariño.</p>
                
            <p>Gracias por apoyar este emprendimiento. Si te gusto mi trabajo, no dudes en contactarme.</p>
        </div>
        <div class="divcenter">
            
            <div class="f1">
                <div class="foto1">
                    <img class="prod" src="/images/image0.png" alt="Pulseras1">
                    <img class="prod" src="/images/image1.png" alt="Pulseras2">
                </div>
                
                <div class="foto2">
                    <img class="prod" src="/images/image2.png" alt="Pulseras3">
                    <img class="prod" src="/images/image3.png" alt="Pulseras4">
                </div>
            </div>
             
            <div class="f2">
                <div class="foto3">
                    <img class="prod" src="/images/image4.png" alt="Pulseras5">
                    <img class="prod" src="/images/image5.png" alt="Pulseras6">
                </div>

                <div class="foto4">
                    <img class="prod" src="/images/image6.png" alt="Pulseras7">
                    <img class="prod" src="/images/image7.jpeg" alt="Pulseras8">
                </div>
            </div>
        </div>
            <div class="wsp">
                <a href="https://wa.me/56952170243" target="_blank">
                    <img class="wsplogo" src="/images/wsp.png" alt="wsp_logo">
                </a>
             </div>  
             <div class="cotiza">
                <a class="cotizacion" href="/cotizacion">Cotización</a>
             </div> 
    </body>

</html>