<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css?v=1.4">
    <link rel="icon" href="/images/mei_logo_web.png" type="image/x-icon" />
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
    <title>Mei Pulseras</title>
</head>

<body>
    <div class="nav">
        <ul class="navbar">
            <li class="links"><a class="lang link" key="HOME" href="/"></a></li>
            <li class="links"><a class="lang link" key="COTIZ" href="/cotizacion"></a></li>
            <li class="links2"><button class="translate" id="english">English</button></li>
            <li class="links2"><button class="pipe">|</button></li>
            <li class="links2"><button class="translate" id="español">Español</button></li>
        </ul>
    </div>
    <div class="logo">
        <img class="logomei" src="/images/webp/logo.webp" alt="logo">
    </div>
    <div class="welcome">
        <h1 class="lang" key="BIEN"></h1>
    </div>
    <br>
    <div class="intro texto">
        <h4 class="lang" key="INTRO"></h4>  
    </div>
    <div class="relleno"></div>
    <div class="texto">
        <p class="lang pe" key="COTIZ"></p>
    </div>
    <div class="relleno"></div>
    <div class="divcenter">

        <div class="pic1">
            <div class="foto1">
                <img class="prod" id="photo1" src="/images/webp/image1.webp" alt="Pulseras1" title="01. Pulsera amazonita 6mm.">
                <img class="prod" id="photo2" src="/images/webp/image2.webp" alt="Pulseras2" title="02. Pulseras cuarzo y cristal. ">
            </div>

            <div class="foto2">
                <img class="prod" id="photo3" src="/images/webp/image3.webp" alt="Pulseras3" title="03. Pulsera amatista 8mm.">
                <img class="prod" id="photo4" src="/images/webp/image4.webp" alt="Pulseras4" title="04. Pulseras cuarzo cristal.">
            </div>
        </div>

        <div class="pic2">
            <div class="foto3">
                <img class="prod" id="photo5" src="/images/webp/image5.webp" alt="Pulseras5" title="05. Pulseras macramé.">
                <img class="prod" id="photo6" src="/images/webp/image6.webp" alt="Pulseras6" title="06. Pulsera ágata 3mm.">
            </div>

            <div class="foto4">
                <img class="prod" id="photo7" src="/images/webp/image7.webp" alt="Pulseras7" title="07. Pulseras para compartir.">
                <img class="prod" id="photo8" src="/images/webp/image8.webp" alt="Pulseras8" title="08. Pulseras macramé.">
            </div>
        </div>
    </div>
    <div class="relleno"></div>
    <div class="texto">
        <p class="lang" key="SIGUE"></p>

        <a class="logosredes" href="https://www.facebook.com/meipulseras">
                <img class="wsplogo" src="/images/facebook.png" alt="fcb_logo">
            </a>
            <a class="logosredes" href="https://www.instagram.com/meipulseras">
                <img class="wsplogo" src="/images/instagram.png" alt="ins_logo">
            </a>
            <a class="logosredes" href="https://wa.me/56952170243" target="_blank">
                <img class="wsplogo" src="/images/whatsapp.png" alt="wsp_logo">
        </a>
    </div>
    <div class="relleno"></div>
    <footer class="foot">
        <p>Mei Pulseras 2023 &#8729; Santo Domingo, V Regi&oacute;n, Chile.</p>
    </footer>
    <div class="wsp">
        <a href="https://wa.me/56952170243" target="_blank">
            <img class="wsplogo" src="/images/wsp.png" alt="wsp_logo">
        </a>
    </div>
    <div class="modal" id="modalfotos">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01">
    </div>
    <script src="/js/language.js" type="text/javascript"></script>
    <script src="/js/modal.js" type="text/javascript"></script>
</body>

</html>