<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css?v=1.6">
    <link rel="icon" href="/images/webp/mei_logo_web.webp" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
    <title>Mei Pulseras</title>
</head>

<body>
    <div class="nav" id="nav">
        <ul class="navbar" id="navbar">
            <li class="links"><a class="lang link" key="HOME" href="/"></a></li>
            <li class="links"><a class="lang link" key="COTIZ" href="/cotizacion"></a></li>
            <li class="links2"><a class="translate link" id="english">English</a></li>
            <li class="links2"><a class="pipe link">|</a></li>
            <li class="links2"><a class="translate link" id="español">Español</a></li>
        </ul>
            <a href="javascript:void(0);" class="icon" onclick="navbar()">
                <i class="fa fa-bars"></i>
            </a>
    </div>
   
    <div class="logo">
        <img class="logomei" src="/images/webp/logo.webp" alt="logo">
    </div>
    <div class="welcome">
        <h1 class="lang" key="BIEN"></h1>
    </div>
    <br>
    <div class="intro texto">
        <h4 class="lang" key="INTRO"></h4>  
    </div>
    <div class="relleno"></div>
    <div class="texto">
        <a class="lang cotiza pe" key="COTIZ" href="/cotizacion"></a>
    </div>
    <div class="relleno"></div>
    <div class="divcenter">

        <div class="pic1">
            <div class="foto1">
                <img class="prod" id="photo1" src="/images/webp/image01.webp" alt="Pulseras1" title="01. Pulsera amazonita 6mm.">
                <img class="prod" id="photo2" src="/images/webp/image02.webp" alt="Pulseras2" title="02. Pulseras cuarzo y cristal. ">
            </div>

            <div class="foto2">
                <img class="prod" id="photo3" src="/images/webp/image03.webp" alt="Pulseras3" title="03. Pulsera amatista 8mm.">
                <img class="prod" id="photo4" src="/images/webp/image04.webp" alt="Pulseras4" title="04. Pulseras cuarzo cristal.">
            </div>
        </div>

        <div class="pic2">
            <div class="foto3">
                <img class="prod" id="photo5" src="/images/webp/image05.webp" alt="Pulseras5" title="05. Pulseras macramé.">
                <img class="prod" id="photo6" src="/images/webp/image06.webp" alt="Pulseras6" title="06. Pulsera ágata 3mm.">
            </div>

            <div class="foto4">
                <img class="prod" id="photo7" src="/images/webp/image07.webp" alt="Pulseras7" title="07. Pulseras para compartir.">
                <img class="prod" id="photo8" src="/images/webp/image08.webp" alt="Pulseras8" title="08. Pulseras macramé.">
            </div>
        </div>
    </div>
    <div class="relleno"></div>
    <div class="texto">
        <p class="lang sigue" key="SIGUE"></p>

        <a class="logosredes" href="https://www.facebook.com/meipulseras">
                <img class="wsplogo" src="/images/webp/facebook.webp" alt="fcb_logo">
            </a>
            <a class="logosredes" href="https://www.instagram.com/meipulseras">
                <img class="wsplogo" src="/images/webp/instagram.webp" alt="ins_logo">
            </a>
            <a class="logosredes" href="https://wa.me/56952170243" target="_blank">
                <img class="wsplogo" src="/images/webp/whatsapp.webp" alt="wsp_logo">
        </a>
    </div>
    <div class="relleno"></div>
    <footer class="foot">
        <p>Mei Pulseras 2023 &#8729; Santo Domingo, Chile.</p>
    </footer>
    <div class="wsp">
        <a href="https://wa.me/56952170243" target="_blank">
            <img class="wsplogo" src="/images/webp/wsp.webp" alt="wsp_logo">
        </a>
    </div>
    <div class="modal" id="modalfotos">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01">
    </div>
    <script src="/js/language.js" type="text/javascript"></script>
    <script src="/js/modal.js" type="text/javascript"></script>
    <script src="/js/navbar.js" type="text/javascript"></script>
</body>

</html>