@font-face {
    font-family: Quicksand;
    src: url(Quicksand-VariableFont_wght.ttf);
}

.swal2-popup {
    font-family: Quicksand;
    font-size: 0.9rem;
}

@media screen and (max-device-width: 480px) {
    .swal2-popup {
        font-size: x-small;
    }
}